<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level %c:%L - %msg%n"/>
        </Console>
        <File name="LogToFile" filename="logs/app.log" append="false">
            <PatternLayout><Pattern>%p %c:%L %m%n</Pattern></PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
